<div class="wrapper">
        <div class="container">
    <h1>LOGIN FORM</h1>
      <form class="form-group">
        <label for="exampleflatno1">Flat No.:</label>
        <input type="email" class="form-control" placeholder="Enter Flat Number">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control"  placeholder="Password">
        <button type="submit" id="login-button" class="btn btn-primary" >Submit</button>          
      </form>
    </div>
    
    </div>