  
  h1{
    font-family: 'sofia';
    font-size: 30px;
    text-align: center;
  }
  label{
    font-family: 'sofia';
    align-items: center;
    text-align: center;
  }
  
  
  .wrapper{
      background: linear-gradient(-45deg, #23a6d5, #23d5ab);
      
//      position: absolute;
  //    left: 0;
    //  width: 100%;
//   height: 100vh;
     //padding-top: 20px;
     width: 100%;
    min-height:100vh;
    background-size: cover; 
      
      &.form-success{
          .container{
              h1{
                  transform: translateY(50px);
              }
          }
      }
  }
  
  .container{
    background-color: white;
      max-width: 400px;
      margin: 0 auto;
      padding: 20px 0;
      height: max-content;
      text-align: center;
      padding-bottom: 20px;
      border-radius: 20px;
      
      
  }
  @media only screen and (max-width: 600px) {
    .container {
      max-width: 300px;
    }
    
  }
  form{
      padding: 20px 0;
      position: relative;
      z-index: 2;
      
      input{
          display: block;
          appearance: none;
          outline: 0;
          border: 1px solid fade(#2d4dea, 40%);
          background-color: fade(#2d4dea, 20%);
          width: 250px;
          
          border-radius: 3px;
          padding: 10px 15px;
          margin: 0 auto 10px auto;
          display: block;
          text-align: center;
          font-size: 18px;
          
          color: white;
          
          transition-duration: 0.25s;
          font-weight: 300;
          
          &:hover{
              background-color: fade(#2d4dea, 40%);
          }
          
          &:focus{
              background-color: white;
              width: 300px;
              
              
          }
      }
      
      button{
          appearance: none;
          outline: 0;
          background-color: #2d4dea;
          border: 0;
          padding: 10px 15px;
          margin-top: 20px;
          border-radius: 3px;
          width: 250px;
          cursor: pointer;
          font-size: 18px;
          transition-duration: 0.25s;
          
          &:hover{
              background-color:#2d4dea;
          }
      }
  }
  
